* {
  font-family: "Times New Roman", Times, serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-1 {
  flex-basis: 100%;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.align-text-ceter {
  text-align: center;
}

.padding-top-bottom {
  padding-top: 200px;
  padding-bottom: 200px;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

span {
  padding-bottom: 5px;
}

.underscore {
  border-bottom: 3px solid black;
}
